html {
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 80px);
}

.hero h1 {
	font-size: 80px;
}

.hero p {
	font-size: 30px;
	text-transform: uppercase;
	color: #113CFC;
}

nav {
	background: #fff;
	height: 80px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	display: flex;
	position: sticky;
	top: 0;
	overflow: hidden;
}

nav a {
	flex: 1;
	height: 100%;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #000;
	transition: .2s ease-in-out all;
	font-weight: 500;
}

nav a:hover {
	background: #f0f0f0;
}

nav .indicador {
	width: 0px;
	height: 7px;
	background: #113cfc;
	position: absolute;
	bottom: 0;
	transition: .3s ease-out all;
	/* transform: translate(-500px); */
}

.seccion {
	min-height: 100vh;
	max-width: 800px;
	width: 90%;
	margin: auto;

	padding-top: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.seccion .card {
	background: #fff;
	height: 90%;
	padding: 40px;
	border-radius: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.seccion h1 {
	font-size: 48px;
	margin-bottom: 20px;
}

.seccion p {
	line-height: 38px;
	margin-bottom: 40px;
	color: #494949;
	font-size: 20px;
}

.seccion img {
	width: 100%;
	vertical-align: top;
	margin-bottom: 20px;
}



@media screen and (max-width: 800px) {
	nav a {
		font-size: 14px;
		padding: 5px;
	}
}

@media screen and (max-width: 450px) {
	nav a {
		font-size: 12px;
	}
}

/*Reacciones*/

.boton-reacciones {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 13px 20px;
    background: linear-gradient(#0f0e0e, #131313);
    color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: relative;
    cursor: pointer;
}
.boton-reacciones .reacciones {
    display: flex;
    padding: 7px;
    position: absolute;
    border-radius: 3rem;
    bottom: 100%;
    background-color: #E4E9FF;
    margin-bottom: 1rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);
    transition: all ease-out 250ms;
}
.boton-reacciones:focus .reacciones,
.boton-reacciones:hover .reacciones {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.boton-reacciones .reacciones::before {
    content: '';
    width: 0;
    height: 0;
    border-width: 13px;
    border-color: transparent;
    border-style: solid;
    border-top-color: #E4E9FF;
    position: absolute;
    bottom: -26px;
    left: calc(50% - 13px);
}
.boton-reacciones .reaccion {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.25rem;
    transition: all ease-in 100ms;
}

.boton-reacciones .reacciones .reaccion i {
    display: inline-block;
}
.boton-reacciones .reacciones .reaccion:active i {
    transform: scale(.9) !important;
}

.boton-reacciones .nombre-reccion {
    font-size: 0.9rem;
    color: #000;
    white-space: nowrap;
    position: absolute;
    bottom: calc(100% + .75rem);
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);
    transition: all ease-in 200ms;
}
.boton-reacciones .reaccion:hover .nombre-reccion {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.boton-reacciones .reaccion:hover i {
    transition: all ease-in 100ms;
}
.boton-reacciones .reaccion:hover {
    transform: scale(1.2);
}
.boton-reacciones .reaccion:hover i {
    animation: anim-reaccion 1s ease-out normal both;
    font-size: 2.0rem;
}
.boton-reacciones .reaccion + .reaccion {
    margin-left: 0.5rem;
}
.boton-reacciones .reacciones .reaccion:nth-child(1){
    background-color:  #0f67ff;
}
.boton-reacciones .reacciones .reaccion:nth-child(2){
    background-color: #FF4040;
}
@keyframes anim-reaccion {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.output-container {
	width: 600px;
	margin: 0 auto;
}

.comment-form-container {
	border: #e0dfdf 1px solid;
	padding: 30px;
	border-radius: 3px;
}

.input-row {
	margin-bottom: 20px;
}

.input-field {
	width: 100%;
	border-radius: 3px;
	padding: 10px;
	border: #e0dfdf 1px solid;
    box-sizing: border-box;
	height:30px;
}

.btn-submit {
	padding: 10px 20px;
    background: #2083f3;
    border: #137aea 1px solid;
    color: #f0f0f0;
    border-radius: 3px;
}

.output-container ul {
	list-style-type: none;
}

.comment-row {
	border-bottom: #e0dfdf 1px solid;
	margin-bottom: 15px;
	padding: 15px;
}

.outer-comment {
	padding: 30px;
	border: #dedddd 1px solid;
    border-radius: 3px;
}

span.commet-row-label {
	font-style: italic;
}

span.posted-by {
	text-decoration: underline;
	margin-left:10px;
}

.comment-info {
	font-size: 0.9em;
	color: #a7a7a7;
}

.comment-text {
	margin: 10px 0px;
	margin-left: 40px;
}

.btn-reply {
	text-decoration: underline !important;
    color: #a7a7a7 !important;
    font-size: 0.9em;
    cursor: pointer;
	
	margin-left:40px;
}

#comment-message {
	margin-left: 20px;
	color: #189a18;
	display: none;
}
.icon-smile:before {
    content: " ";
    width: 16px;
    height: 16px;
    display: flex;
    background: url(primary-smile.png);
}

