.posts-wrapper {
    width: 13.7%;
    /*border: 1px solid rgb(255, 255, 255);*/
  }
  .post {
    width: 90%;
    margin: 20px auto;
    padding: 10px 5px 0px 5px;
    border: 1px solid rgb(6, 5, 5);
  }
  .post-info {
    margin: 10px auto 0px;
    padding: 5px;
  }
  .fa {
    font-size: 1.8em;
    margin-right: 20px;
    margin-left: 10px;
  }
  .fa-thumbs-down, .fa-thumbs-o-down {
    transform:rotateY(180deg);
  }
  .logged_in_user {
    padding: 10px 30px 0px;
  }
  i {
    color: #001219;
  }