body,form,div,ul,nav,h1,h2,h3,header,li,a {
	box-sizing:  border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
	background: #94D2BD;
}

nav ul {
	background: #001219;
	padding: 20px;
	margin-top: -200px;
}

nav li a {
	text-decoration: none;
	color: #fff;
}

nav li {
	list-style: none;
	padding: 10px 5px;
	font-size: 20px;
}

.icono-del-menu {
	color: #fff;
	background: #111;
	text-align: right;
	padding: 10px 20px;
	font-size: 30px;
	position: fixed;
	z-index: 100;
	width: 100vw;
}

.button-link {
	background: #fff;
	color: #000;
	font-size: 16px;
	padding: 6px 12px;
}

.different-li {
	margin-top: 10px;
}

#menu {
	transition: margin-top 1s;
	position: fixed;
	z-index: 10;
	width: 100vw;
	margin-top: -80;
	box-shadow: 0px 0px 10px #000;
}

.blogem-banner {
	display: flex;
	height: 100vh;
	text-align: center;
	flex-direction: column;
	background: url("img/bg.png");
	background-size: cover;
	background-position: center;
	color: #000;
	padding-top: 44px;
}

.blogem-banner__info {
	flex-grow: 1;
	display: flex;
}

.blogem-banner__info-container {
	margin: auto;
}

.blogem-banner h1 {
	padding: 10px;
}

.blogem-banner h2 {
	font-size: 25px;
	font-weight: 400;
}

.blogem-banner img {
	border-radius: 35%;
	filter: drop-shadow(1px 1px 10px #dfcd97);
}

.blogem-banner .flecha {
	margin: auto;
	padding: 40px;
	font-size: 60px;
}

.flecha a {
	color: #000;
	font-size: 100px;
	transition: color 0.2s;
}

.flecha a:hover {
	color: #aaa;
}

.flecha a:active {
	color: #aaa;
}

#articulos {
	text-align: center;
	padding: 40px 0;
}

.articulos-texto {
	padding: 30px;
	padding-bottom: 10px;
}

.articulos-container a{
	display: block;
	background-size: cover;
	width: 256px;
	height: 144px;
	margin: 20px auto;
}

.aloy {
	background: url("img/aloy_con_barba.jpg");
}

.tilin {
	background: url("img/eso_tilin.jpg");
}

.potatxio {
	background: url("img/potatxio.jpg");
}

.articulo-data {
	height: 100%;
	width: 100%;
	background: #000a;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: opacity 0.30s;
}

.articulos-container a {
	text-decoration: none;
	color: #fff;
	box-shadow: 0px 0px 9px #000c;
}

.articulo-data h2 {
	font-size: 20px;
}

.articulo-data p {
	font-size: 12px;
	margin-top: 2px;
}

.articulo-data:hover {
	opacity: 0;
}

#footer {
	background: #fff;
}

#footer .redes-sociales {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}

.red-social {
	width: 130px;
	margin: auto;
	text-align: center;
	font-size: 50px;
	margin: 20px;
}

.red-social a {
	color: #fff;
}

.red-social a .fa-facebook {
	color: #04a;
}

.red-social a .fa-twitter {
	color: #59f;
}

.newsletter {
	background: #9B2226;
	color: #fff;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 10px;
}

.newsletter h2 {
	font-size: 14px;
	padding: 10px;
	padding-top: 20px;
}

.newsletter input {
	border: 1px solid #fff;
	color: #fff;
	padding: 6px;
	display: block;
	width: 80%;
	background: transparent;
	margin: 12px auto;
}

.newsletter .sub-to-newsletter {
	background: #fff;
	color: #000;
	width: auto;
	text-align: center;
}

.derechos {
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	color: #666;
}

/*------------- RESPONSIVE TO WEB --------------*/ 	

@media screen and (min-width: 1280px) {
.icono-del-menu {
	display: none;
}


#menu {
	position: absolute;
	margin-top: auto;
	padding: 0;
	transition: margin-top 0s;
	padding: 10px;
	box-shadow: none;
	background: linear-gradient(to bottom, #000f, transparent);
	text-align: center;
	max-width: 100vw;
	box-sizing: border-box;
}

#menu li {
	display: inline-block;
	margin: 20px;
}

.blogem-banner__info-container {
	max-width: 50%;
 	max-height: 50%;
	margin: auto;
}

.blogem-banner h1 {
	font-size: 48px;
}

.blogem-banner h2 {
	font-size: 38px;
	font-weight: 400;
}

.blogem-banner img {
	border-radius: 35%;
	margin-top: 20px;

}

.blogem-banner .flecha {
	margin: auto;
	padding: 40px;
	font-size: 80px;
}

.articulos-container a {
	display: inline-block;
	width: 320px;
	height: 180px;
	margin: 30px;
}

.articulos-container {
	padding: 50px 0;
}

#footer input {
	padding: 12px;
	font-size: 20px;
	display: inline-block;
	width: 700px;
	border-left: 4px solid #fff;
}

#footer .sub-to-newsletter {
	width: auto;
	margin-left: 10px;
}

}